<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container" style="padding: 2em 0 0 0">
        <div class="columns">
            <div class="column">
                <div th:replace="fragments/budgetInfo :: content"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <div th:replace="fragments/expenseForm :: content"></div>
            </div>
            <div class="column">
                <div th:replace="fragments/expensesList :: content"></div>
            </div>
        </div>
    </div>
</body>
</html>